@model StoreFront.DATA.EF.Models.Category

@{
    ViewData["Title"] = "Delete " + Model.CategoryName;
}

<h3 class="alert alert-danger">Are you sure you want to delete @Model.CategoryName? This action cannot be undone!</h3>
<div class="row mb-3">

    <div class="col-md-6 offset-md-3 text-center align-middle">
        <p class="text-danger mt-3 ">
            Description:
            <br />
            @Html.DisplayFor(model => model.CategoryDescription)
        </p>
    </div>
</div>

<div class="p-4 text-center">
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>