@model StoreFront.DATA.EF.Models.Shipper

@{
    ViewData["Title"] = "Edit " + Model.ShipperName;
}

<section class="product_section gray-section layout_padding pb-4 pt-4 mb-4 text-center">
    <div class="heading_container heading_center">
        <h2>
            Edit <span>@Model.ShipperName</span>
        </h2>
    </div>
</section>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShipperId" />
            <div class="form-group">
                <label asp-for="ShipperName" class="control-label"></label>
                <input asp-for="ShipperName" class="form-control" />
                <span asp-validation-for="ShipperName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipperVillage" class="control-label"></label>
                <input asp-for="ShipperVillage" class="form-control" />
                <span asp-validation-for="ShipperVillage" class="text-danger"></span>
            </div>
            <div class="form-group p-4 text-center">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
