@{
    ViewData["Title"] = "Home";
}

@section banner {
	<!-- start banner Area -->
	<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div>
						<!-- single-slide -->
						<div class="row single-slide">
							<div class="col-lg-5">
								<div class="banner-content" style="color:white; background-color: rgba(0, 0, 0, 0.3);">
									<h1 style="background: linear-gradient(to top, orangered, black);
									-webkit-text-fill-color: transparent;
									-webkit-background-clip: text;">
										Konoha Express
									</h1>
									<p>
										Welcome to Konoha Express, your one-stop shop for all your shinobi needs! 
										From essential weapons to mystical artifacts, embark on your journey to greatness with us by your side.
									</p>								
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="~/img/banner/hokagenaruto.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
}
<!-- start features Area -->
<section class="features-area section_gap">
	<div class="container">
		<div class="row features-inner">
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="~/img/features/f-icon1.png" alt="">
					</div>
					<h6>Free Delivery</h6>
					<p>Free Shipping on all orders</p>
				</div>
			</div>
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="~/img/features/f-icon2.png" alt="">
					</div>
					<h6>Return Policy</h6>
					<p>30 day Money-Back Guarantee</p>
				</div>
			</div>
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="~/img/features/f-icon3.png" alt="">
					</div>
					<h6>24/7 Support</h6>
					<p>Contact us for any issues!</p>
				</div>
			</div>
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="~/img/features/f-icon4.png" alt="">
					</div>
					<h6>Secure Payment</h6>
					<p>Pay safely!</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end features Area -->
@section scripts {
	<!--gmaps Js-->
	<script src="~/https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="~/js/gmaps.min.js"></script>
	<script src="~/js/countdown.js"></script>
}