@model StoreFront.DATA.EF.Models.Product

@{
    ViewData["Title"] = "Add New Product";
}

@* <h1>Create</h1>

<h4>Product</h4>
<hr /> *@


<section class="product_section gray-section layout_padding pb-4 pt-4 mb-4 text-center">
    <div class="heading_container heading_center">
        <h2>
            Create <span>Product</span>
        </h2>
    </div>
</section>

<div class="row mb-3">
    <div class="col-md-8 offset-md-2">
        <form asp-action="Edit" class="contact_form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemsInStock" class="control-label"></label>
                <input asp-for="ItemsInStock" class="form-control" />
                <span asp-validation-for="ItemsInStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemsOnOrder" class="control-label"></label>
                <input asp-for="ItemsOnOrder" class="form-control" />
                <span asp-validation-for="ItemsOnOrder" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductImage" class="control-label"></label>
                <input asp-for="ProductImage" class="form-control" />
                <span asp-validation-for="ProductImage" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="CategoryId" class="control-label d-block"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group my-3">
                <label asp-for="SupplierId" class="control-label d-block"></label>
                <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group my-3">
                <label asp-for="NatureId" class="control-label d-block"></label>
                <select asp-for="NatureId" class="form-control" asp-items="ViewBag.NatureId"></select>
                <span asp-validation-for="NatureId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group my-3">
                <label asp-for="ProductStatusId" class="control-label d-block"></label>
                <select asp-for="ProductStatusId" class="form-control" asp-items="ViewBag.ProductStatusId"></select>
                <span asp-validation-for="ProductStatusId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group form-check my-3">
                <label class="form-check-label d-block">
                    <input class="form-check-input" asp-for="IsDiscontinued" /> @Html.DisplayNameFor(model => model.IsDiscontinued)
                </label>
            </div>

        </form>
    </div>
</div>

<div class="form-group p-4 text-center">
    <input type="submit" value="Create" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
